# Python-related ignores
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
.Python
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Pytest
.pytest_cache/

# Cache
*.cache

# VSCode and other IDE-specific files
.vscode/
.idea/

# Logs
*.log
